.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #ffffff;
    border-top: 4px solid #ef3e33;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

.spinner-tex {
    margin-top: 10px;
    font-size: 16px;
    color: #57575a;
}

