.store-contains-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.spinner-container {
    min-width: 1280px;
}

/* Responsive Ipad */
@media screen and (max-width: 1020px) {
    .store-contains-cards {
        gap:8px;
    }
}